<heading-bar [title]="a.title"></heading-bar>
<div class="container" style="position: relative">
    <section-toggle *ngIf="sections.length"></section-toggle>
</div>
<div class="container-fluid">
    <div class="pane-container-handle">
        <i class="fa fa-minus" *ngIf="filtersPane" (click)="filtersPane = !filtersPane"></i>
        <i class="fa fa-plus" *ngIf="!filtersPane" (click)="filtersPane = !filtersPane"></i>
        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#images" target="_blank">
            Markdown Help
        </a>
    </div>
    <div *ngIf="message">
        {{message}}
    </div>
    <div class="row">
        <div class="milestone-pane-container" [collapse]="!filtersPane">
            <div class="col-md-4" class="milestone-pane">
                <milestone-panel [id]="a._id" active="design" [state]="a.state" [n]="n"></milestone-panel>
            </div>
        </div>

        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6">
                    <textarea [(ngModel)]="markdown" class="fill-editor"></textarea>
                </div>
                <div class="col-md-6 markdown-preview">
                    <markdown [data]="markdown" class="fill-editor-preview"></markdown>
                </div>
            </div>
        </div>
    </div>
</div>