<div class="row navbar navbar-toggleable-md bg-faded">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link pl-0"  [routerLink]="['/instructor','courses']">My Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/instructor','products']">My Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0"  [routerLink]="['/instructor','features']">My Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['my-tutorials']">My Tutorials</a>
                </li>
            </ul>
        </div>
    </div>
</div>