<div class="row navbar navbar-toggleable-md bg-faded">
    <div class="container">
        <div class="collapse navbar-collapse" [ngbCollapse]="!isCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link pl-0" href="/">My Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['my-tutorials']">My Tutorials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['my-classmates']">My Classmates</a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/student">IO Review</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>